<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" [ngStyle]="{display: displaySideBar}" style="z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" (click)="w3_close()"
  class="w3-bar-item w3-button">Fermer le menu</a>
  <a routerLink="/login" routerLinkActive="active-link" (click)="w3_close()" class="w3-bar-item w3-button">Accueil</a>
  <a routerLink="/galerie" routerLinkActive="active-link" (click)="w3_close()" class="w3-bar-item w3-button">Galerie des collègues</a>
  <a routerLink="/classement" routerLinkActive="active-link" (click)="w3_close()" class="w3-bar-item w3-button">Classement</a>
  <a routerLink="/vote" routerLinkActive="active-link" (click)="w3_close()" class="w3-bar-item w3-button">Votez !</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" (click)="w3_open()">☰</div>
    <div class="w3-right w3-padding-16">A propos</div>
    <div class="w3-center w3-padding-16">Face Note</div>
  </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding container-fluid" style="max-width:1200px;margin-top:100px">
<main>
  <router-outlet></router-outlet>
</main>
</div>



