<div class="w3-container w3-padding-32 w3-center">
  <h3>Merci de vous identifier afin d'accéder aux rubriques de vote et de classement</h3><br>
  <div class="w3-col w3-padding-large" [hidden]="identificationOk">
    <!-- Formulaire d'identification -->
    <div class="w3-container w3-blue-grey w3-grayscale-min w3-xlarge">
      <h3 class="w3-center" style="margin-bottom:40px; margin-top:40px;">Identifiez-vous</h3>
      <form (ngSubmit)="connexion()">
        <p style="font-size: 20px"><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Matricule"
            required name="Matricule" [(ngModel)]="matricule" style="color:black"></p>
        <p style="font-size: 20px"><input class="w3-input w3-padding-16 w3-border" type="password"
            placeholder="Mot de passe" required name="Message" [(ngModel)]="motDePasse" style="color:black"></p>
        <p style="font-size: 20px"><input class="w3-input w3-padding-16 w3-border" type="text"
            placeholder="Si vous souhaitez changer l'image par défaut" name="image" [(ngModel)]="imageUrl" style="color:black"></p>
        <p><button class="w3-button w3-light-grey w3-block" (click)="connexion()"
            (keydown.enter)="connexion()">GO</button></p>
      </form>

    </div>
  </div>
</div>

<div class="w3-col w3-padding-large" [hidden]="!identificationOk">
  <!-- Formulaire d'identification -->
  <div class="w3-container w3-blue-grey w3-grayscale-min w3-xlarge">
    <h3 class="w3-center" style="margin-bottom:40px; margin-top:40px">Vous êtes bien identifiés :)</h3>
    <p><button class="w3-button w3-light-grey w3-block" (click)="deconnexion()">Déconnexion</button></p>
  </div>
</div>
